
:root {
  --dark-purple: #974097;
  --light-purple: #ff67ff;
  --backround: #2f3f51;
}




body {
  background-color: var(--backround);
  color: var(--light-purple);
}

.title  {
  
  font-family: Anek Malayalam;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  flex-direction: column;
  padding: 30px 100px;
}

.title h1 {
margin: 20px;
}

.title p  {
text-align: center;
}

footer  {
  font-family: Anek Malayalam;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  flex-direction: column;
  padding: 20px 100px;
}


main {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 300px;
  justify-content: space-around;
}

.card {
  border: 2px dashed white;
  padding: 60px 20px 20px 20px;
  margin: 20px;
  position: relative;
}

.card-title {
  position: absolute;
  top: -20px; 
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 27px;
  border: 1px solid white;
  border-radius: 15px;
  font-family: Anek Malayalam;
  width: 80%;
background-color: var(--backround);
}

.card-code  {
  background-image: linear-gradient(var(--dark-purple), var(--light-purple)) ;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  color: white;

}

.card-desc p {
margin: 10px;

}