nav { 
background-color: green;
height: 100px;
width: 100%; 
color: white;
}

.nav-link {
color: white;
font-size: 20px;
position: relative;
top: 33px;
right: -1700px;
margin:0px 10px;
}

section {
  text-align: center;
  font-size: 25px;
  font-family: 'Anek Malayalam', sans-serif;
}

.backround-green{
  background-color: green;
}

label {
  display: block;
}

footer{
  background-color: darkgreen;
  color: white;
  text-align: center;
}

.footer-paragraph{
  padding: 20px;
}